{% load staticfiles %}
<html>
  <head>
    <div class="page-header">
      <title>Tara's Blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </div>
  </head>
  <body>
  <div>
    <h1><a href="/">Tara the amazing!</a></h1>
    <h2><a href="/">and Moo the cat</a></h2>
  </div>
    <p>Hi There!</p>
    <p>It Works!</p>
    <p>This is so frustrating! <strong>BUT IT KINDA WORKS?!</strong></p>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
